<footer role="contentinfo">
    <div class="container">
        <nav role="navigation" aria-label="footer navigation">
            <div>
                <p>
                    &copy; {{ "now"|date("Y") }} &bullet;
                    {{ __("This website is <a href='%url%' target='_blank' title='Sophisticated, lightweight & simple CMS'>Built with Bolt</a>.", {'%url%':'https://bolt.cm'}) }}
                </p>
            </div>
            <div>
                {{ menu(
                    identifier = 'main',
                    template = 'partials/_sub_menu_footer.twig',
                    params = {'withsubmenus': false}
                ) }}
            </div>
        </nav>
        {{ widgets('footer') }}
    </div>
</footer>
