{% extends 'layouts/master.twig' %}

{% block main %}

    <article>

        {{ widgets('main_top') }}

        <h1 data-bolt-field="title">{{ record.title }}</h1>

        {{ fields(template = 'partials/_sub_fields.twig') }}

        {{ include('partials/_recordfooter.twig', {
            record: record,
            extended: true
        }) }}

    </article>

{% endblock main %}
