@charset "UTF-8";

/** ------------------------------------------------------------------------------------------------
 * Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
 * Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.
 */
@import "../../node_modules/normalize.css/normalize";

/**
 * Clean up webkit safari rounded borders on inputs
 */

input[type="search"],
input[type="text"] {
    -webkit-appearance: none;
    border-radius: 0;
}

/**
 * Smooth scroll-behaviour
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior
 */

html, body {
    scroll-behavior: smooth;
}

/**
 * TEST GRID
 * ⚠  auto-fit value is not supported by IE [autoprefixer]
 * ⚠  grid-auto-rows is not supported by IE [autoprefixer]
 */

.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 200px;

    div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@import "base/_base.scss";
@import "modules/_defaults.scss";
@import "modules/_layout.scss";
@import "modules/_typography.scss";
@import "modules/_general.scss";
@import "modules/_navigation.scss";
@import "modules/_forms.scss";
@import "modules/_search.scss";
@import "modules/_ui-info.scss";
@import "modules/_theme.scss";
@import "modules/_cycle2.scss";
